body{
    background-color: #629faa;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #000000;
    padding: 15px;
}

.link{
    text-decoration: none;
    color: #0ab9ee;
}

header .link{
    color: #0295c2;
}

.blogpost{
    border: 2px solid black;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background: #314549;
}

.date{
    float: right;
    color: aqua
}

.nav-li{
    display: inline-block;
    margin-left: 20px;
}

.nav-li:first-child{
    margin-left: 0;
}

.nav-li:last-child{
    margin-left: 60%;
}

.content{
    margin: 10px;
    width: 75%;
}

.content h2{
    margin-left: 10%;
    font-weight: bolder;
    font-size: larger;
}

.post-text{
    border-top: 5px solid black;
    background: #3145495d;
}

.post-text img{
    margin-top: 0;
    width: 23%;
    position: relative;
    bottom: 10px;
}

.blogpost img{
    margin-top: 0;
    width: 30%;
    position: unset;
    bottom: 10px;
}

.post-text p{
    font-size: 18px;
    width: 75%;
    display: inline-block;
}

.author{
    font-weight: bold;
    float: right;
    color: #00536d;
}


.logo{
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 15px;
    float: right;
    position: absolute;
    top: 100px;
    left: 75%;
}

.my-list{
    width: 25%
}

.my-list-item{
    background: #3145495d;
    margin: 3px;
}